{
    skip_install_trust
}

https://*.praarthana.space {
    tls {
      dns cloudflare {env.CF_API_TOKEN}
      resolvers 1.1.1.1
    }

    @vaultwarden host passwords.praarthana.space
    handle @vaultwarden {
      reverse_proxy http://vaultwarden
    }

    @dockge host dockge.praarthana.space
    handle @dockge {
      reverse_proxy http://dockge:5001
    }

    @forgejo host git.praarthana.space
    handle @forgejo {
      reverse_proxy http://forgejo:3000
    }

    @immich_server host photos.praarthana.space
    handle @immich_server {
      reverse_proxy http://immich_server
    }

    @pocket_id host pocket-id.praarthana.space
    handle @pocket_id {
      reverse_proxy http://pocket-id:1411
    }

    @nas host nas.praarthana.space
    handle @nas {
      reverse_proxy http://192.168.1.2:8080
    }

    @router host router.praarthana.space
    handle @router {
      reverse_proxy http://192.168.1.1:80
    }
}
